
<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="column-title">Gauche</div>
      <div *ngFor="let figureG of leftFigures">
        {{figureG}}
      </div>
    </div>
    <div class="col text-center">
      <div class="column-title">Droite</div>
      <div *ngFor="let figureD of rightFigures">
        {{figureD}}
      </div>
    </div>
  </div>

  <div class="text-center">

    <button class="btn btn-primary" (click)="allSuffle()">
      Recharger
    </button>
  
  </div>
  



</div>